body {
    background-color: rgba(175, 175, 255, 0.645);
}
form {
    background-color: rgb(105, 105, 105);
    padding: 60px;
    margin: 150px auto;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 500px;
    color: aliceblue;
}

input[type="text"] {
    background-color: aliceblue;
    border: none;
    border-radius: 2px;
}