body {
    background-color: rgba(1, 1, 118, 0.645);
}
form {
    background-color: rgb(178, 219, 255);
    padding: 60px;
    margin: 150px auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 500px;

}